body{
    margin: 5px;
}

.pp{
    border-radius: 100px;
}

.Hello{
background-color: #303960;
color: white;
/*color: #888888;*/
}

.UN-logo{

    width: 10rem;
}

.ms-logo{
    width: 160px;
    margin-left: 360px;
    padding:10px 0px 10px 0px;
 
}
@media only screen and (max-width: 600px) {
    .ms-logo {
        margin-left: 90px;
        padding:20px 0px 20px 0px;
        border-left-width: 0px;
        margin-right: 90px;

    }
}





.title-resume{
   text-align: center;
    margin: auto;
    padding-top: 5%;
    padding-left: 5%;
}

.middle-container{
    margin: 100px 0px 100px 0px;

}

.sm{
    padding-top: 80px;
}

#EQ{
    text-align: center;
    color: white;
}

.Exp{

    background-color: #303960;
    margin: 100px 0px 100px 0px;
    padding: 5% 0%;
}

.white-box{

    background-color: #f0f0f0;
    margin: auto;
    width: fit-content;
    padding: 5% 20%;
    font-family: 'Montserrat', sans-serif;
   

    }

    @media only screen and (max-width: 600px) {
        .white-box {
          padding-left: 5%;
          padding-right: 5%;
        }
    }

    .cst{

        background-color: #303960;
        margin: 100px 0px 100px 0px;
        padding: 5% 0%;
        color: white;
    }

    .red-box{

        background-color: #ea9a96;
        margin: auto;
        width: fit-content;
        padding: 5% 20%;
        font-family: 'Montserrat', sans-serif;
       
    
        }
    
        @media only screen and (max-width: 600px) {
            .red-box {
              padding-left: 5%;
              padding-right: 5%;
            }
        }
    
.eeep{

    padding :0px 0px 40px 0px;
}

P{
    font-family: 'Montserrat', sans-serif;
}

#loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

#rr{

    padding-bottom: 3%;
}

#pt
{
    width: 300px;
    height:300px;
}
a{
    font-size:25px;
}


@media only screen and (max-width: 600px) {
    a {
        font-size:12.5px;
    }
}

.ft{
    color: white;
}
/* */
